@import './base.css';

body {
  margin: 0 !important;
}

body, html {
  overflow: hidden; /* 防止滚动 */
  touch-action: none; /* 禁用触摸滚动 */
}

/* 发光字体 */
.tag-blink {
  color: #cce7f8;
  font-size: 2.0rem;
  -webkit-animation: shining 0.5s alternate infinite;
  animation: shining 0.5s alternate infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

@-webkit-keyframes shining {
  from {
      text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue, 0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue;
  }
  to {
      text-shadow: 0 0 5px lightblue, 0 0 10px lightblue, 0 0 15px lightblue, 0 0 20px skyblue, 0 0 25px skyblue, 0 0 30px skyblue;
  }
}

/* 2d标签，直接支持click事件 */
.tag-2d-clickable {
  pointer-events: auto;
}

